<div class="row">
  <div class="span12 page-header">
    <h1>Comics</h1>
  </div>
</div>
{{#each comic in controller}}
<div class="row">
  <div class="span6">
    <div class="index-prompt">
      <h2>{{comic.prompt_one.content}}</h2>
    </div>
  </div>
  <div class="span6">
    <div  class="index-prompt"><h2>{{comic.prompt_two.content}}</h2></div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <img {{bindAttr src="comic.image_url"}} class="comic"/>
  </div>
</div>
<div class="row">
  <div class="span12">
    <button {{action upvote}} class="btn btn-inverse"><i class="icon-arrow-up"></i></button>
    <span class="score">{{comic.score}}</span>
    <button {{action downvote}} class="btn btn-inverse"><i class="icon-arrow-down"> </i></button>
  </div>
</div>
<hr />
{{/each}}
