<div class="row">
  <div class="span12">
    <button {{action drawPrompts}} {{bindAttr disabled="promptsDrawn"}} class="btn"><i class="icon-trash icon-white"></i> Draw Prompts</button>
  </div>
</div>
{{#if prompts}}
  <div class="row">
    {{#each prompts}}
    <div class="span6">
      <div class="sf-prompt">
        <h2>{{content}}</h2>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="span12">
      <button {{action beginChallenge}} {{bindAttr disabled="challengeAccepted"}} class="btn"><i class="icon-pencil icon-white"></i> Begin Challenge</button>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div id="js-ready-set-art" class="ready-set-art">
        <h1 class="js-ready ready">Ready.</h1><h1 class="js-set set">Set.</h1><h1 class="js-art art">ART.</h1>
      </div>
    </div>
  </div>
{{/if}}
{{#if timer}}
  <div class="row">
    <div class="span4">
      {{#if heckle}}
        <div class="triangle-right right">{{heckle}}</div>
      {{/if}}
    </div>
    <div class="span4">
      <div id="timer">
        <h1>{{timerTimeRemaining}}</h1>
      </div>
    </div>
    <div class="span4"></div>
  </div>
{{/if}}